.single-course-page {
  .content-block {
    background-color: white;
    height: 82vh;
    padding: 20px;
  }

  .dragger-block {
    height: 300px;
    width: 500px;
    display: flex;
    justify-content: center;
  }
}
